body {
    font-family: "Lato", sans-serif;
}

.container2 {
    margin-left: 40px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A01DF;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidenav:hover {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A01DF;
    overflow-x: hidden;
    padding-top: 20px;
    transform: all;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.card {
    border-radius: 30px;
}

.card-body {
    width: 70%;
    height: 100%;
}

.icon {
    position: relative;
    top: 35px;
    right: 30px;
}

#card {
    display: flex;
    flex-direction: row;
}

.navbaricon {
    display: flex;
    width: 100%;
}

.alramicon {
    display: flex;
    width: 250px;
    justify-content: space-around;
    padding-top: 10px;
}

#alram {
    margin-top: 5px;
}

.menuicon {
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

#menuicon {
    color: white;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.d-flex {
    width: 35%;
    margin-left: 10px;
    position: relative;
}

.icontext {
    display: flex;
    flex-direction: row;
}

.menutext {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

.menutext1 {
    color: white;
    margin: 0px;
}

.container-fluid {
    display: flex;
}

.canvas {
    width: 55vw;
    height: 50vw;
    margin-left: 55px;
}

#chart {
    height: 35vw;
}

.button {
    position: absolute;
    left: 86%;
    width: 50px;
    height: 50px;
    background-color: #2E2EFE;
    color: white;
    border: 1px solid white;
}

.button1 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

@media screen and (max-width: 750px) {
    .sidenav a {
        font-size: 18px;
    }

    .container-fluid {
        display: none;
    }

    .alramicon {
        display: none;
    }
    
    #chart {
    height: 40vw;
}

}
